# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Identify popular languages used in Data Science
- Identify common libraries used in Data Science
- Identify popular tools used in Data Science
- Provide examples of basic arithmetic operations in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. SciPy
3. NumPy

| Data Science Tools |
|--------------------|
| JupyterLab |
| Jupyter Notebook |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
## This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [23]:
## This will convert 200 minutes to hours by diving by 60
min = 200
hrs = min / 60
print(min,"minutes is equal to", hrs,"hours")

200 minutes is equal to 3.3333333333333335 hours

## Author
Matthew Sease